<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>

<body>
    <header class="hero">
        <h1 class="app-title">
          <i class="fa-regular fa-user"></i> Tech Blog!
        </h1>
        <p>Post And Read About Tech Blogs!
        </p>
        <nav>
        <a href="/">Home</a>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Dashboard</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    
<main class="flex-row justify-space-between">
    {{{body}}}
</main>


<!-- Render script for logged in users only -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>
</html>