<div class="col-12 col-md-4">
    <div class="col-12 col-md-8">
        <h2 class="subtitle">Showing Tech Blogs for: <span id="tech-post"></span></h2>
        <div id="tech-container" class="list-group">
            <ol class="blogs-ol">
            Show Blogs Here
            </ol>
        </div>
    </div>
</div>
